@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


body{
    font-family: 'Quicksand', sans-serif;
}
header{
    z-index: 10001 !important;
}

@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }


  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-flex;
    animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
    height: 40px;
    margin: 40px;
  }